out/3_bit_binary_for_loop.bp
out/8-bit_sequential_counter.bp
out/binary_for_loop_(3-bit).bp
out/glass_tower.bp
out/my_mapart.schem
out/mypixelart.schem
out/mypixelart2.schem
out/namesschematic.schem
out/phasmophobiaschematic.schem
out/pixelArt.schem
out/playericon.schem
out/playericon2.schem
out/playericon3.schem
out/playericon4.schem
out/rom.schem
